.form {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  * { box-sizing: border-box; }
  padding: 1em 0;
  font-size: 20px;
  input {
    display: block;
    width: 100%;
    margin: 0.5em 0 1.2em;
    font-size: 0.8em;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    padding: 0.5em;
  }
}


.flex{
  display: flex;
  justify-content: flex-start;
}
.container{
  padding: 3em 2em;
  background-image: url('../linderoth_pattern.png');
  max-width: 40em;
  margin: 3em auto;
  border-radius: 2px;
  box-shadow: 1px 9px 80px 2px rgba(0, 0, 0, 0.04);
}
.guide{
  @extend .flex;
  font-family: 'Andale Mono', monospace;
  font-size: 11px;
}
.guideFont{
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.label{
  @extend .flex;
}
.marginToInfo{
  margin-right: 0.5em;
}

.guideColor{
  color: #20B2AA;
}
// .buttonCopy{
//   margin-bottom: 4%;
//   margin-right: 6%;
// }
.guidecard{
  margin-top: 20px;
  margin-bottom:15px;
}
.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-group-item {
  margin: 0.5em 0;
  padding: 1em;
  display: block;
  background: #ebebeb;
  border-radius: 2px;
}



@media screen and (min-width: 855px) {
    .guidecard{
      margin-top: 10px;
      margin-bottom:5px;
    }
}
