/*
Errno::ENOENT: No such file or directory @ rb_sysopen - index.scss

Backtrace:
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:454:in `read'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin.rb:109:in `method_missing'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/bin/sass:13:in `<top (required)>'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/bin/sass:22:in `load'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1/bin/sass:22:in `<main>'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1@global/bin/ruby_executable_hooks:15:in `eval'
/Users/jonassandstedt/.rvm/gems/ruby-2.4.1@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - index.scss"; }
